/* ========================================
   ice-clock
   Base
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background: transparent;

    font-family: "Segoe UI", sans-serif;
}

/* ========================================
   Clock
======================================== */

#clock {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 120px;
    font-weight: bold;
    color: #dff8ff;

    user-select: none;
}

.colon {
    opacity: 0.9;
}

/* ========================================
   Digit
======================================== */

.digit {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
   isolation: isolate;
}

.digit span {
    position: relative;
    z-index: 2;

    color: rgba(245, 252, 255, 0.08);

    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(180, 235, 255, 0.8),
        0 0 24px rgba(80, 200, 255, 0.35);

    -webkit-text-stroke: 1px rgba(255,255,255,0.4);
}


/* ========================================
   Water
======================================== */

.water {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    z-index: 3;

    opacity: 0.85;

   clip-path: inset(0);

  
}



.water-svg {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;


       transform: translateY(0%);
    transition: none;
}


.water-wave {
    fill: rgba(80, 200, 255, 0.35);

  
}


.mask-number {
    display: none !important;
}
