/* ========================================
   ice-clock
   Base
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    background: transparent;

    font-family: "Segoe UI", sans-serif;
}

/* ========================================
   Clock
======================================== */

#clock {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 120px;
    font-weight: bold;
    color: #dff8ff;

    user-select: none;
}

.colon {
    opacity: 0.9;
}

/* ========================================
   Digit
======================================== */

.digit {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
}

.digit span {
    position: relative;
    z-index: 2;

    color: rgba(245, 252, 255, 0.92);

    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(180, 235, 255, 0.8),
        0 0 24px rgba(80, 200, 255, 0.35);

    -webkit-text-stroke: 1px rgba(255,255,255,0.75);
}


/* ========================================
   Water
======================================== */

.water {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 70%;

    overflow: hidden;

    z-index: 1;

    opacity: 0.85;
}


.water::before {
    content: "";

    position: absolute;

    left: 0;
    top: 0;

    width: 100%;
    height: 25%;

    background: rgba(255, 255, 255, 0.25);

    z-index: 2;
}

.water-svg {
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    display: block;
}


.water-wave {
    fill: rgba(80, 200, 255, 0.75);
}
